<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  >
  <test name="FirefoxTest" >
    <parameter name="browser" value="firefox"/>
  	<parameter name="environment" value="test" />
	<classes> 
	  <class name="org.usgbc.regression.CommunityRegistrationTest"/>   		
      <class name="org.usgbc.regression.MembershipTest"/> 
      <class name="org.usgbc.regression.StoreTest"/>
      <class name="org.usgbc.regression.UsgbcStoreTest"/>
      <class name="org.usgbc.regression.CommunityRegistrationCountryFieldTest"/>
      <class name="org.usgbc.regression.ErrorMessageCommRegTest"/> 
      <class name="org.usgbc.regression.UsgbcCoreTest"/>
      <class name="org.usgbc.regression.LoggedUserTest"/>
     
   </classes>
  </test><!-- Test parallel="classes" thread-count="3" -->
</suite> <!-- Suite parallel="tests" verbose="1" thread-count="3" -->

 <!--  <class name="org.usgbc.regression.UsgbcStoreTest"/>
      <class name="org.usgbc.regression.MembershipTest"/> 
        <class name="org.usgbc.regression.CommunityRegistrationTest"/>
      <class name="org.usgbc.regression.CommunityRegistrationCountryFieldTest"/>
      <class name="org.usgbc.regression.ErrorMessageCommRegTest"/> 
      <class name="org.usgbc.regression.UsgbcCoreTest"/>
      <class name="org.usgbc.regression.LoggedUserTest"/> -->